<div class="button-container">
  <ng-select [items]="selectOptions" bindLabel="label" bindValue="value" [(ngModel)]="selectedGameResource" />
  <button mat-raised-button color="primary" type="button" [disabled]="loading()" (click)="play()">Play</button>
  <button mat-raised-button color="warn" type="button" [disabled]="leftScore() === 0 && rightScore() === 0"
    (click)="resetScore()">Reset score</button>
</div>

<div class="score">
  <p *ngIf="leftScore() !== 0 || rightScore() !== 0">{{ leftScore() }} : {{ rightScore() }}</p>
</div>

<div class="cards-container" *ngIf="loading()">
  <app-loading-card />
  <app-loading-card />
</div>

<div class="cards-container" *ngIf="twoRandomSpecies$ | async as twoRandomSpecies">
  <app-species-card *ngIf="twoRandomSpecies.leftCard.message === 'ok'; else errorCard" [ngClass]="{
      'winner': winner() === 'left',
      'loser': winner() === 'right'
      }" [species]="twoRandomSpecies.leftCard" />

  <app-species-card *ngIf="twoRandomSpecies.rightCard.message === 'ok'; else errorCard" [ngClass]="{
      'winner': winner() === 'right',
      'loser': winner() === 'left'
      }" [species]="twoRandomSpecies.rightCard" />

  <ng-template #errorCard>
    <app-error-card />
  </ng-template>

</div>
