@import "@ng-select/ng-select/themes/default.theme.css";

html, body { height: 100%; }
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url('assets/sw-logo.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
  margin:20px;
}
